/* Reset code  */
* {
    padding: 0;
    margin: 0 auto;
}

/* font family */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    max-width: 1320px;
}

/* header (Banner section) styles */
.header {
    margin-top: 50px;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner\ Image.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content {
    text-align: center;
    color: #FFF;
}

.banner-content h2 {
    padding: 180px 530px 20px 530px;
    font-size: 32px;
    font-weight: 400;
}

.banner-content p {
    padding: 0 344px 0 344px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Special offer section styles */
.special-offer {
    margin-top: 120px;
    text-align: center;
}

.special-offer h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 48px;
}

.special-offer p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    margin-bottom: 15px;
}

.special-offer h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 48px;
}

/* Party section  */
.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.party-column-item-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    width: 640px;
    margin-bottom: 24px;
}

.party-column-item-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 640px;
    margin-bottom: 48px;
}

.btn-primary {
    color: #FFF;
    background-color: #F00;
    border: 1px solid #F00;
    border-radius: 5px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
}

.btn-primary:hover {
    transform: scale(1.2);
    transition: 1s;
    background: purple;
}

/* Schedule section styles */
.schedule {
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 385px 100px 385px;
    border-radius: 16px;
}

.schedule-container span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.schedule p {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.schedule .btn-primary {
    display: block;
    margin-top: 48px;
}

/* Coming soon section styles */
.coming-soon {
    margin-top: 120px;
    background: #FFF;
}

.coming-soon-container {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-around;
}


.coming-soon-container-image {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    border: 15px solid #F00;
    background-repeat: no-repeat;
}

.coming-soon-container-image-1 {
    background-repeat: no-repeat;
}

.coming-soon-container-title-1 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 100px 20px 0px;
}

.coming-soon-container-title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0px 0px 20px 0px;
}

.coming-soon-container-description-1 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 0px 20px 0px;
    width: 393px;
}

.coming-soon-container-title-3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 0px 0px 20px 0px;
}

.coming-soon-container-description-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 0px 40px 0px;
    width: 393px;
}

/* Holiday sale styles  */
.holiday-sale {
    margin-top: 120px;
    background: #FFF;
    height: 980px;
}

.holiday-sale-title-1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.holiday-sale-title-2 span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.holiday-sale-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    padding: 0px 0px 40px 0px;
}

.holiday-sale-container-image {
    position: relative;

}

.holiday-sale-container-image-1 {
	position: absolute;
	top: -4px;
	left: -1px;
	z-index: 1;
}

.holiday-sale-container-image-2 {
	position: absolute;
	top: 80px;
	left: 730px;
	z-index: 1;
}

.holiday-sale-container-image-3 {
    position: absolute;
    top: 0;
    left: 890px;
}

.holiday-sale-container-image-4 {
	position: absolute;
	top: 430px;
	left: -1px;
}

/* Gift section styles */
.gift-section {
    margin-top: 120px;
}

.gift-item-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
}

.gift-item-title-1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0px 0px 20px 0px;
}

.gift-item .gift-item-description {
    width: 896px;
    margin-left: 0;
    text-align: justify;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 0px 40px 0px;
}

.gift-item-image img {
    width: 420px;
    height: 450px;
    margin: 10px 15px 0 0;
}

.gift-item-image img:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* Subscribe section  */
.subscribe {
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 100px;
}

.subscribe-container-item {
    text-align: center;
}

.subscribe-container-item-image {
    height: 150px;
    width: 150px;
    padding: 80px 585px 40px 585px;
}

.subscribe-container-item-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0px 0px 40px 0px;
}

.subscribe-container-item-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding: 0px 0px 40px 0px;
}

.subscribe-container-item-btn input {
    border: none;
}

.subscribe-container-item-btn input[type="email"] {
    width: 30%;
    border-radius: 50px 0 0 50px;
    padding: 20px;
}

.subscribe-container-item-btn input[type="submit"] {
    width: 15%;
    color: #FFF;
    background: #F00;
    border: 2px solid #F00;
    border-radius: 0 50px 50px 0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 13px;
}

.subscribe-container-item-btn input[type="submit"]:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* Footer styles */
.footer {
    margin-top: 120px;
    background: #070211;
    height: 530px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
}

.footer-column {
    padding-top: 100px;
}

.footer-description-1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    padding-left: 35px;
}

.footer-description-2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    padding-right: 35px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 40px 0;
}

/* Social media styles */
.social {
    text-align: center;
}

.social a img {
    margin: 0 15px;
}

.social a img:hover {
    transform: scale(1.2);
    transition: .4s;
}

/* Footer copyright styles */

.footer-copyright-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
}

.footer-description-3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}


.footer-description-4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}